body {
    background:#eee;
    font-family:monospace;
}

.card {
    width:400px;
    background: #fff;
    margin: 16px auto;
    padding: 4px;
    border-top: dashed 2px pink;
    border-bottom: solid 4px rgb(224, 224, 224);
}

h1{
    color:pink;
    margin:4px;
    padding:4px;
}

h1:hover {
    color:rgba(255, 192, 203, 0.733);
    margin:4px;
}

h2 {
    color:rgb(192, 214, 255);
    margin:4px;
    padding:4px;
}


ul li::marker {
    content:'♥ ';
    color:rgb(148, 165, 197);
}

ol li::marker {
    color:rgb(148, 165, 197);
}

li {
    color:rgb(116, 116, 116);
    box-sizing: border-box;
    padding-right:4px;
}

a {
    color:#5D5698;
    text-decoration-style:dashed;
}

p {
    padding:4px;
    margin:4px;
    color:rgb(116, 116, 116);
}

a:hover {
    color:#5d5698b0;
    text-decoration:underline;
}

img {
    display:flex;
    border-top: dashed 2px pink;
    width:392px;
    height:auto;
    margin:8px auto;

}

.back {
    color:rgb(165, 165, 165);
    font-size:8px;
    margin:4px;
    text-decoration:none;
}

.back:hover {
    color:rgb(99, 99, 99);
}

h5{
    padding:12px;
    text-align: center;
    color:rgb(163, 163, 163)
}

::selection {
    background:pink;
    color:white;
}

